@media only screen and (max-width: 320px) {

.container {
    width: 320px;
}

.text-Wlc {
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;

    letter-spacing: -0.0124em;

    color: #FFFFFF;
    margin: 43px 16px 0px 16px;
}

.img-vector {
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
}

.img-vectorMobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
}
}