@media only screen and (max-width: 320px) {

.aboutMe {
    margin: 64px 0 0 16px;
    display: block;
    
    z-index: 10000;
}

.photo_img-aboutMe{
    margin-top: 0px;
    border-radius: 2px;
    position: relative;

    object-fit: cover;
    width: 304px;
    height: 200px;
}


/* ============================== */
.about-aboutMe {
    position: relative;
    top: -11px;
    width: 100%;
    display: inline;
    margin-bottom: 0px;
    background: none;
    border-radius: 2px;
    margin-right: 16px;
}

/* прописать только margin*/
.allText-aboutMe{
    padding: 16px 16px 17px 16px;
    background: white;
    margin: 0 16px 0 0;
    border-radius: 2px;
}
/* 1st --------------------------*/
.first-aboutMe {
    display: block;
    justify-content: space-between; 
    align-items: center;
}

.myName-aboutMe {
    font-family: 'Factor A';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #585CC6;
}

.dateOfBirth-aboutMe {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #8A8A8A;
}

/* 2nd --------------------------*/

.div-city-abMe,
.div-gender-abMe,
.div-age-abMe {
    display: flex;
    justify-content: left; 
    align-items: center;
}

.city-abMe,
.gender-abMe,
.age-abMe {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #333333;
}

.myCity-abMe,
.myGender-abMe,
.myAge-abMe {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-left: 5px;
}

.divBlock-Mobile {
    display: flex;
}

.second-aboutMe {
    display: inline-block;
    margin-top: 16px;
}

.div-gender-abMe {
    margin-left: 28px;
}

.imgGender {
    margin-left: 8.8px;
}

.div-age-abMe {
    margin-top: 12px;
    margin-left: 0;
}

/* 3d --------------------------*/
.third-aboutMe {
    display: flex;
    justify-content: left; 
    align-items: center;
    margin-top: 16px;
}

.text_talk-abMe,
.pet-aboutMe {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.talk-abMe,
.pet-abMe {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #333333;
}

/* 4th --------------------------*/
.fourth-aboutMe{
    display: flex;
    justify-content: left; 
    align-items: center;
    margin-top: 16px;
}

.pet-aboutMe {
    margin-left: 12px;
}
}


                    

                    